@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%
}

body {
  font-family: 'Poppins', sans-serif;
  box-sizing: border-box;
}

header {
  height: 9rem;
  display: flex;
  align-items: center;
  padding: 0 3rem;
  background: #701A75;
  color: #fff;
}

header h1 {
  margin-right: auto;
  font-size: 2.5rem;
}

header h3 {
  font-size: 1.5rem;
}

.logo {
  width: 7rem;
}

.meme-box {
   display: flex;
   flex-direction: column;
   align-items: center;
   margin-top: 2rem;
}

.input {
  width: 25rem;
  outline: 0;
  border: .1rem solid black;
  padding: 1rem 2rem;
  font-size: 2rem;
  margin-bottom: 2rem;
  margin-left: 2rem;
}

.meme {
  position: relative;
  flex-basis: 50rem;
}

.meme img {
  height: 100%;
  object-fit: cover;
}

.topText, .bottomText {
  font-size: 3.5rem;
  color: #000;
}

.topText {
  position: absolute;
  top: 3rem;
  left: 50%;
  transform: translateX(-50%)
}

.bottomText {
  position: absolute;
  bottom: 3rem;
  left: 50%;
  transform: translateX(-50%)
}

.btn {
  display: block;
  margin: 0 auto;
  background: #701A75;
  padding: 1rem 2rem;
  color: #fff;
  outline: none;
  border-radius: 3px;
  border: none;
  font-size: 1.5rem;
  margin-bottom: 2rem;
}

@media (max-width: 700px) {
  html {
    font-size: 55%;
  }
  header {
    padding: 0 1rem;
  }
}

@media (max-width: 500px) {
  html {
    font-size: 50%
  }
  .inputs {
    text-align: center;
  }
  .input {
    display: block;
  }
  .bottomText, .topText {
    font-size: 3rem;
  }
}